<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <header>
      <h2>First AJAX Request</h2>
    </header>
      <section class="steps ot">
        <h2>Step 1 & 2</h2>
        <button>Run AJAX Request to Root</button>
      </section>
      <section class="steps tffs">
         <h2>Step 3,4,5,6</h2>       
        <button>Run AJAX Request to Ping/Pong</button>
      </section>
      <section class="steps s">
        <h2>Step 7</h2>
        <button>Run AJAX Request top Count</button>
      </section>
      <section class="steps e">
        <h2>Step 8</h2>
        <button>Run AJAX Request to Time</button>
      </section>
      <section class="steps n">
        <h2>Step 9</h2>
        <button>Run AJAX Request to A Car</button>
      </section>
  </body>
</html>
